.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body{
  overflow:hidden;
  background-color: hsl(185, 75%, 39%);
}

.top-circle{
  position:absolute;
  top:-600px;
  left:-400px;
}

.card{
  display: inline-block;
  background-color: white;
  text-align: center;
  line-height: 2;
  border-radius: 10%;
  margin:auto;
}

.profile_pic{
  border-radius: 100%;
  position: relative;
  top:-50px;
  margin-bottom:20px;
}
table{
  margin:auto;
}

td{
  padding:30px;
}

.bottom-circle{
  position: absolute;
  top:300px;
  left:1000px;
  }
